# NBA API data manipulation

The goal of this project is to gather data from the **nba_api** package, in which several data regarding games and players stats are fetched from NBA.com. 

Doing so, we will get data regarding the shooting patterns of players during the ***2021-22 season***, both for the Regular Season and the Playoffs (Pre-Season, GLeague and All-Star games are not included) and to update the data to a local MySQL database using SQLAlchemy

![Alt Text](https://media.tenor.com/wWn-gRfZ4PEAAAAd/steph-curry-stephen-curry.gif)

### Importing basic libraries

In [60]:
import pandas as pd
import numpy as np
import time
import datetime
from time import sleep

To use the nba_api package, we must import the correct endpoints for each type of tables we want to get data from. In this notebook case, we will be using mainly four:

-**playercareerstats**

-**shotchartdetail**

-**leaguegamefinder**

-**players**

Check the nba_api repository for more repositories: https://github.com/swar/nba_api

In [61]:
# testing the playercareerstats package from the
from nba_api.stats.endpoints import playercareerstats
career_test = playercareerstats.PlayerCareerStats(player_id='203076')
career_test.get_available_data()
## the first available table, SeasonTotalsRegularSeason is the one we're looking for

dict_keys(['SeasonTotalsRegularSeason', 'CareerTotalsRegularSeason', 'SeasonTotalsPostSeason', 'CareerTotalsPostSeason', 'SeasonTotalsAllStarSeason', 'CareerTotalsAllStarSeason', 'SeasonTotalsCollegeSeason', 'CareerTotalsCollegeSeason', 'SeasonTotalsShowcaseSeason', 'CareerTotalsShowcaseSeason', 'SeasonRankingsRegularSeason', 'SeasonRankingsPostSeason'])

In [62]:
#getting a list of the results of the player from all seasons to date
list(career_test.get_normalized_dict().items())[0][1:]

([{'PLAYER_ID': 203076,
   'SEASON_ID': '2012-13',
   'LEAGUE_ID': '00',
   'TEAM_ID': 1610612740,
   'TEAM_ABBREVIATION': 'NOH',
   'PLAYER_AGE': 20.0,
   'GP': 64,
   'GS': 60,
   'MIN': 1846.0,
   'FGM': 349,
   'FGA': 676,
   'FG_PCT': 0.516,
   'FG3M': 0,
   'FG3A': 6,
   'FG3_PCT': 0.0,
   'FTM': 169,
   'FTA': 225,
   'FT_PCT': 0.751,
   'OREB': 165,
   'DREB': 357,
   'REB': 522,
   'AST': 63,
   'STL': 75,
   'BLK': 112,
   'TOV': 89,
   'PF': 158,
   'PTS': 867},
  {'PLAYER_ID': 203076,
   'SEASON_ID': '2013-14',
   'LEAGUE_ID': '00',
   'TEAM_ID': 1610612740,
   'TEAM_ABBREVIATION': 'NOP',
   'PLAYER_AGE': 21.0,
   'GP': 67,
   'GS': 66,
   'MIN': 2358.0,
   'FGM': 522,
   'FGA': 1005,
   'FG_PCT': 0.519,
   'FG3M': 2,
   'FG3A': 9,
   'FG3_PCT': 0.222,
   'FTM': 348,
   'FTA': 440,
   'FT_PCT': 0.791,
   'OREB': 207,
   'DREB': 466,
   'REB': 673,
   'AST': 105,
   'STL': 89,
   'BLK': 189,
   'TOV': 109,
   'PF': 200,
   'PTS': 1394},
  {'PLAYER_ID': 203076,
   'SEASON_ID': '2014-15',
   'LEAGUE_ID': '00',
   'TEAM_ID': 1610612740,
   'TEAM_ABBREVIATION': 'NOP',
   'PLAYER_AGE': 22.0,
   'GP': 68,
   'GS': 68,
   'MIN': 2455.0,
   'FGM': 642,
   'FGA': 1199,
   'FG_PCT': 0.535,
   'FG3M': 1,
   'FG3A': 12,
   'FG3_PCT': 0.083,
   'FTM': 371,
   'FTA': 461,
   'FT_PCT': 0.805,
   'OREB': 173,
   'DREB': 523,
   'REB': 696,
   'AST': 149,
   'STL': 100,
   'BLK': 200,
   'TOV': 95,
   'PF': 141,
   'PTS': 1656},
  {'PLAYER_ID': 203076,
   'SEASON_ID': '2015-16',
   'LEAGUE_ID': '00',
   'TEAM_ID': 1610612740,
   'TEAM_ABBREVIATION': 'NOP',
   'PLAYER_AGE': 23.0,
   'GP': 61,
   'GS': 61,
   'MIN': 2164.0,
   'FGM': 560,
   'FGA': 1136,
   'FG_PCT': 0.493,
   'FG3M': 35,
   'FG3A': 108,
   'FG3_PCT': 0.324,
   'FTM': 326,
   'FTA': 430,
   'FT_PCT': 0.758,
   'OREB': 130,
   'DREB': 497,
   'REB': 627,
   'AST': 116,
   'STL': 78,
   'BLK': 125,
   'TOV': 121,
   'PF': 148,
   'PTS': 1481},
  {'PLAYER_ID': 203076,
   'SEASON_ID': '2016-17',
   'LEAGUE_ID': '00',
   'TEAM_ID': 1610612740,
   'TEAM_ABBREVIATION': 'NOP',
   'PLAYER_AGE': 24.0,
   'GP': 75,
   'GS': 75,
   'MIN': 2708.0,
   'FGM': 770,
   'FGA': 1526,
   'FG_PCT': 0.505,
   'FG3M': 40,
   'FG3A': 134,
   'FG3_PCT': 0.299,
   'FTM': 519,
   'FTA': 647,
   'FT_PCT': 0.802,
   'OREB': 172,
   'DREB': 712,
   'REB': 884,
   'AST': 157,
   'STL': 94,
   'BLK': 167,
   'TOV': 181,
   'PF': 168,
   'PTS': 2099},
  {'PLAYER_ID': 203076,
   'SEASON_ID': '2017-18',
   'LEAGUE_ID': '00',
   'TEAM_ID': 1610612740,
   'TEAM_ABBREVIATION': 'NOP',
   'PLAYER_AGE': 25.0,
   'GP': 75,
   'GS': 75,
   'MIN': 2727.0,
   'FGM': 780,
   'FGA': 1462,
   'FG_PCT': 0.534,
   'FG3M': 55,
   'FG3A': 162,
   'FG3_PCT': 0.34,
   'FTM': 495,
   'FTA': 598,
   'FT_PCT': 0.828,
   'OREB': 187,
   'DREB': 644,
   'REB': 831,
   'AST': 174,
   'STL': 115,
   'BLK': 193,
   'TOV': 162,
   'PF': 159,
   'PTS': 2110},
  {'PLAYER_ID': 203076,
   'SEASON_ID': '2018-19',
   'LEAGUE_ID': '00',
   'TEAM_ID': 1610612740,
   'TEAM_ABBREVIATION': 'NOP',
   'PLAYER_AGE': 26.0,
   'GP': 56,
   'GS': 56,
   'MIN': 1850.0,
   'FGM': 530,
   'FGA': 1026,
   'FG_PCT': 0.517,
   'FG3M': 48,
   'FG3A': 145,
   'FG3_PCT': 0.331,
   'FTM': 344,
   'FTA': 433,
   'FT_PCT': 0.794,
   'OREB': 174,
   'DREB': 498,
   'REB': 672,
   'AST': 218,
   'STL': 88,
   'BLK': 135,
   'TOV': 112,
   'PF': 132,
   'PTS': 1452},
  {'PLAYER_ID': 203076,
   'SEASON_ID': '2019-20',
   'LEAGUE_ID': '00',
   'TEAM_ID': 1610612747,
   'TEAM_ABBREVIATION': 'LAL',
   'PLAYER_AGE': 27.0,
   'GP': 62,
   'GS': 62,
   'MIN': 2131.0,
   'FGM': 551,
   'FGA': 1096,
   'FG_PCT': 0.503,
   'FG3M': 72,
   'FG3A': 218,
   'FG3_PCT': 0.33,
   'FTM': 444,
   'FTA': 525,
   'FT_PCT': 0.846,
   'OREB': 142,
   'DREB': 435,
   'REB': 577,
   'AST': 200,
   'STL': 91,
   'BLK': 143,
   'TOV': 154,
   'PF': 156,
   'PTS': 1618},
  {'PLAYER_ID': 203076,
   'SEASON_ID': '2020-21',
   'LEAGUE_ID': '00',
   'TEAM_ID': 1610612747,
   'TEAM_ABBREVIATION': 'LAL',
   'PLAYER_AGE': 28.0,
   'GP': 36,
   'GS': 36,
   'MIN': 1162.0,
   'FGM': 301,
   'FGA': 613,
   'FG_PCT': 0.491,
   'FG3M': 26,
   'FG3A': 100,
   'FG3_PCT': 0.26,
   'FTM': 158,
   'FTA': 214,
   'FT_PCT': 0.738,
   'OREB': 62,
   'DREB': 224,
   'REB': 286,
   'AST': 110,
   'STL': 45,
   'BLK': 59,
   'TOV': 74,
   'PF': 60,
   'PTS': 786},
  {'PLAYER_ID': 203076,
   'SEASON_ID': '2021-22',
   'LEAGUE_ID': '00',
   'TEAM_ID': 1610612747,
   'TEAM_ABBREVIATION': 'LAL',
   'PLAYER_AGE': 29.0,
   'GP': 40,
   'GS': 40,
   'MIN': 1404.0,
   'FGM': 370,
   'FGA': 695,
   'FG_PCT': 0.532,
   'FG3M': 13,
   'FG3A': 70,
   'FG3_PCT': 0.186,
   'FTM': 174,
   'FTA': 244,
   'FT_PCT': 0.713,
   'OREB': 106,
   'DREB': 288,
   'REB': 394,
   'AST': 122,
   'STL': 49,
   'BLK': 90,
   'TOV': 82,
   'PF': 97,
   'PTS': 927},
  {'PLAYER_ID': 203076,
   'SEASON_ID': '2022-23',
   'LEAGUE_ID': '00',
   'TEAM_ID': 1610612747,
   'TEAM_ABBREVIATION': 'LAL',
   'PLAYER_AGE': 29.0,
   'GP': 20,
   'GS': 20,
   'MIN': 692.0,
   'FGM': 217,
   'FGA': 368,
   'FG_PCT': 0.59,
   'FG3M': 9,
   'FG3A': 27,
   'FG3_PCT': 0.333,
   'FTM': 129,
   'FTA': 155,
   'FT_PCT': 0.832,
   'OREB': 68,
   'DREB': 188,
   'REB': 256,
   'AST': 52,
   'STL': 27,
   'BLK': 48,
   'TOV': 40,
   'PF': 57,
   'PTS': 572}],)

In [ ]:
career_test_df = pd.DataFrame(career_test.get_data_frames()[0]) ## getting the first dataframe available from the PLayerCareerStats

In [64]:
career_test_df

,PLAYER_ID,SEASON_ID,LEAGUE_ID,TEAM_ID,TEAM_ABBREVIATION,PLAYER_AGE,GP,GS,MIN,FGM,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS
0,203076,2012-13,00,1610612740,NOH,20.0,64,60,1846.0,349,...,0.751,165,357,522,63,75,112,89,158,867
1,203076,2013-14,00,1610612740,NOP,21.0,67,66,2358.0,522,...,0.791,207,466,673,105,89,189,109,200,1394
2,203076,2014-15,00,1610612740,NOP,22.0,68,68,2455.0,642,...,0.805,173,523,696,149,100,200,95,141,1656
3,203076,2015-16,00,1610612740,NOP,23.0,61,61,2164.0,560,...,0.758,130,497,627,116,78,125,121,148,1481
4,203076,2016-17,00,1610612740,NOP,24.0,75,75,2708.0,770,...,0.802,172,712,884,157,94,167,181,168,2099
5,203076,2017-18,00,1610612740,NOP,25.0,75,75,2727.0,780,...,0.828,187,644,831,174,115,193,162,159,2110
6,203076,2018-19,00,1610612740,NOP,26.0,56,56,1850.0,530,...,0.794,174,498,672,218,88,135,112,132,1452
7,203076,2019-20,00,1610612747,LAL,27.0,62,62,2131.0,551,...,0.846,142,435,577,200,91,143,154,156,1618
8,203076,2020-21,00,1610612747,LAL,28.0,36,36,1162.0,301,...,0.738,62,224,286,110,45,59,74,60,786
9,203076,2021-22,00,1610612747,LAL,29.0,40,40,1404.0,370,...,0.713,106,288,394,122,49,90,82,97,927
10,203076,2022-23,00,1610612747,LAL,29.0,20,20,692.0,217,...,0.832,68,188,256,52,27,48,40,57,572

In [65]:
from nba_api.stats.static import players

In [66]:
nba_players = players.get_players()
nba_players_id = [i['id'] for i in nba_players if i['is_active']==True] ##getting active players only

In [67]:
df_nba_players = pd.DataFrame(nba_players)

Passing headers to prevent any failure when retrieving the data.

In [68]:


headers  = {
    'Connection': 'keep-alive',
    'Accept': 'application/json, text/plain, */*',
    'x-nba-stats-token': 'true',
    'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_14_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/79.0.3945.130 Safari/537.36',
    'x-nba-stats-origin': 'stats',
    'Sec-Fetch-Site': 'same-origin',
    'Sec-Fetch-Mode': 'cors',
    'Referer': 'https://stats.nba.com/',
    'Accept-Encoding': 'gzip, deflate, br',
    'Accept-Language': 'en-US,en;q=0.9',
}

In [70]:
## creating function to get player career stats

def player_career(p_id):
    player_career_stats = playercareerstats.PlayerCareerStats(player_id=p_id,timeout=100,headers = headers)
    df_stats = player_career_stats.get_data_frames()[0]
    return df_stats

##### Using the formula above, we can loop through all active players idsand get the career stats per season for each player, to then later concatenate each dataframe into a single one using the .append() method on a empty list

In [72]:
career_list = []
df_test_2 = pd.DataFrame()
for i in nba_players_id:
    print(i) #printing to check the for loop
    career = player_career(i)
    time.sleep(.600) #timeout for not throwing HTTP request error from the NBA server
    career_list.append(career) #appending df_stats back to career_list

final_career_df = pd.concat(career_list,ignore_index=True)

1630173
203500
1628389
1630534
1630583
1629638
1628960
1628386
1630631
203937
203507
1628961
203648
1630175
1628384
1627853
1630166
1629028
1628962
1628963
1631116
1630163
1629071
1628366
1628964
1631094
1630217
1630625
1631230
203084
1630567
1629628
203115
1629646
1628966
201587
203145
1629647
203078
1627736
1630699
1631262
202722
201976
1630180
1631234
203920
1629048
202687
1631205
203992
202711
1629626
1629716
1630195
1626164
1630527
1628449
1630547
1631123
1628396
1631103
1631128
1628969
1629052
1627763
1628415
1628971
1631122
1627759
1631112
1629650
1630535
1629718
1628972
1628973
1628418
203493
203504
202692
1630215
202710
1631288
203484
1628427
1629962
203991
1630176
1628975
1628976
1627936
1626161
1630577
1630551
1631113
1629597
1629185
1627737
1631108
1630528
1629634
203903
1629651
1629599
1628381
1628380
201144
1626192
1626188
1630536
203496
1628470
203109
1630622
1629633
1630595
203552
201939
1630700
1630268
203076
1631098
1629056
1631120
1630620
201942
203473
203521
1628978
1631217
1629603
1628977
203476
1631172
203915
1629029
1628416
1629652
1630245
1629653
1630288
1628408
201609
203083
1630537
1630561
201142
1631105
1631347
1631106
1630162
1630556
1629604
1631165
203954
1629234
202324
1628981
1627827
1630238
1630201
1631323
1627854
1630235
1630701
203095
1628368
1628365
1629117
203583
1629655
201568
204038
1629636
1630585
1630586
1630568
200752
202331
201959
1630581
1628983
1630264
1631221
203497
1631371
1630692
203932
201569
1628984
203924
1630564
1631260
201980
203110
203210
1630224
1629750
201145
1630182
1631100
201933
1629656
1631338
1629060
1630169
1631160
1629788
1630181
203501
201935
1630702
1631199
1626149
203914
1630223
203925
1630284
202699
1627885
1628404
1628392
2617
1630573
1629637
1630165
202330
1627823
1626195
1629639
1627741
1629312
201588
1630792
1630207
1628988
201950
203200
1626158
1631096
201143
1629659
1627863
1631216
1631309
1628989
1630643
1630624
1629631
1630562
1630538
201586
2738
204060
1627742
202681
1628371
1631093
1630543
1628367
1628382
1631245
202704
1628991
2544
1629610
1631300
1629660
1630198
1628993
1629661
1630552
201949
1629640
1630553
1626169
203999
1630637
1627745
1630529
1630539
1630200
1626145
1627884
201599
202709
1631107
1630548
1629662
1626163
1631211
1628379
1631117
1630296
1631452
1630557
1628467
1630233
1628995
1631132
1629723
1627788
1628436
1630249
1630228
1628398
1631222
203897
1630237
1629111
1629641
1630639
1627774
1627747
1627814
203458
202695
1631171
1630184
203081
1629642
1630587
1631254
1626172
201572
201577
201567
200768
1627789
1626168
1630588
1630572
1629611
1630544
1626246
1628374
1630230
1628997
1628998
1629103
1631213
1630231
1629726
1631097
202083
1630178
1630219
1630540
203468
204456
1630183
1629667
203926
1630253
201580
1631121
203585
1629162
1629001
1630241
1629002
203114
1630627
201988
1629003
1631169
1630558
1628378
1630342
1630596
1630600
1631320
1628370
1630541
1629875
1631111
1629630
202693
1628420
202694
1628539
1630530
1627749
1627750
1631099
203488
1629004
1626204
1629614
1630612
1630174
203526
1627777
1630227
1630192
203457
1629669
1628373
1629134
203994
1628021
1629670
1626220
1629643
1629006
1630168
1630171
1629644
203506
203482
1630647
1626224
1626162
1629672
101108
1626166
1627780
1630691
1630321
1629033
1630590
1631342
203486
1627751
1630197
1629673
1629645
1629008
203490
1626171
204001
203939
1626181
1630554
1630563
1627752
1630202
1629674
1630193
1631311
1626184
203944
1630559
1629629
1628432
1630194
1629675
1631197
1630208
1626196
203085
1629130
1629010
1629011
1631115
1630526
1629676
1631223
1631157
201565
203082
1626179
201937
1626156
1630346
1627734
203967
1630846
1630648
1629678
203471
1630206
1631220
1630578
1629012
1629013
1630549
1631101
1627783
1627732
1630250
1629014
1631301
1630579
1629686
1630606
203935
1630696
202397
1630188
1628372
1631095
1630270
1631110
1630311
1630531
1630205
1630597
1630191
1629622
1630591
1628410
1631306
1630256
1628369
1630678
202066
1631207
1628464
1630271
1630560
202691
1630550
1629680
1629681
1630214
1630225
1630167
1629308
1626157
1629018
200782
1626167
1630649
202685
1627832
1629020
1630170
1630492
1629216
203943
202696
1629731
1630532
1629021
1630688
1631133
202689
1629022
202322
203933
1629023
1630613
1631102
1629139
1630322
1630570
1631212
1629683
1631104
201566
1629632
1628401
1631298
1630580
1630598
203952
1629623
1631214
1629684
1631114
1631119
1631466
1629026
1631109
1630172
1630533
1629057
1631246
1629627
1628391
1629685
1626159
1630164
1626174
1626153
1630593
201152
1629027
1630209
203469
1627826

In [96]:
final_career_df

,PLAYER_ID,SEASON_ID,LEAGUE_ID,TEAM_ID,TEAM_ABBREVIATION,PLAYER_AGE,GP,GS,MIN,FGM,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS
0,1630173,2020-21,00,1610612748,MIA,21.0,61,4,737.0,124,...,0.509,73,135,208,29,20,28,43,91,304
1,1630173,2021-22,00,1610612761,TOR,22.0,73,28,1725.0,265,...,0.595,146,327,473,82,37,41,84,151,664
2,1630173,2022-23,00,1610612761,TOR,23.0,12,0,245.0,36,...,0.848,24,60,84,16,2,7,15,19,105
3,203500,2013-14,00,1610612760,OKC,20.0,81,20,1197.0,93,...,0.581,142,190,332,43,40,57,71,203,265
4,203500,2014-15,00,1610612760,OKC,21.0,70,67,1771.0,217,...,0.502,199,324,523,66,38,86,99,222,537
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3375,1627826,2018-19,00,0,TOT,22.0,59,37,1039.0,212,...,0.802,115,247,362,63,14,51,70,137,525
3376,1627826,2019-20,00,1610612746,LAC,23.0,72,70,1326.0,236,...,0.747,197,346,543,82,16,66,61,168,596
3377,1627826,2020-21,00,1610612746,LAC,24.0,72,33,1609.0,257,...,0.789,189,330,519,90,24,62,81,187,650
3378,1627826,2021-22,00,1610612746,LAC,25.0,76,76,1852.0,310,...,0.727,217,427,644,120,36,77,114,203,785
3379,1627826,2022-23,00,1610612746,LAC,25.0,24,24,732.0,103,...,0.684,83,196,279,31,11,41,53,73,258

### Getting the shooting detail from each player for the 2021-22 season:

In [75]:
#getting shooting detail from players   

from nba_api.stats.endpoints import shotchartdetail

In [76]:
reg_season_shot = shotchartdetail.ShotChartDetail(
    player_id='0',
    team_id='0',
    season_nullable='2021-22',
    context_measure_simple='FGA',  #Field Goals Attempts(arremessos)
    season_type_all_star='Regular Season')
reg_season_shot_df = reg_season_shot.get_data_frames()[0]

In [77]:
post_season_shots = shotchartdetail.ShotChartDetail(
    player_id='0',
    team_id='0',
    season_nullable='2021-22',
    context_measure_simple='FGA',  #Field Goals Attempts(arremessos)
    season_type_all_star='Playoffs')
post_season_shots_df = post_season_shots.get_data_frames()[0]

In [78]:
post_season_shots_df

,GRID_TYPE,GAME_ID,GAME_EVENT_ID,PLAYER_ID,PLAYER_NAME,TEAM_ID,TEAM_NAME,PERIOD,MINUTES_REMAINING,SECONDS_REMAINING,...,SHOT_ZONE_AREA,SHOT_ZONE_RANGE,SHOT_DISTANCE,LOC_X,LOC_Y,SHOT_ATTEMPTED_FLAG,SHOT_MADE_FLAG,GAME_DATE,HTM,VTM
0,Shot Chart Detail,0042100101,7,1630168,Onyeka Okongwu,1610612737,Atlanta Hawks,1,11,31,...,Center(C),Less Than 8 ft.,1,18,1,1,0,20220417,MIA,ATL
1,Shot Chart Detail,0042100101,9,200768,Kyle Lowry,1610612748,Miami Heat,1,11,13,...,Right Side(R),24+ ft.,23,234,10,1,0,20220417,MIA,ATL
2,Shot Chart Detail,0042100101,11,1629027,Trae Young,1610612737,Atlanta Hawks,1,11,2,...,Right Side Center(RC),24+ ft.,25,154,197,1,0,20220417,MIA,ATL
3,Shot Chart Detail,0042100101,13,202710,Jimmy Butler,1610612748,Miami Heat,1,10,50,...,Right Side(R),16-24 ft.,19,192,51,1,0,20220417,MIA,ATL
4,Shot Chart Detail,0042100101,15,201568,Danilo Gallinari,1610612737,Atlanta Hawks,1,10,35,...,Center(C),Less Than 8 ft.,7,74,26,1,0,20220417,MIA,ATL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14566,Shot Chart Detail,0042100406,632,203935,Marcus Smart,1610612738,Boston Celtics,4,1,35,...,Center(C),Less Than 8 ft.,4,34,24,1,0,20220616,BOS,GSW
14567,Shot Chart Detail,0042100406,634,203935,Marcus Smart,1610612738,Boston Celtics,4,1,33,...,Left Side(L),8-16 ft.,10,-77,67,1,1,20220616,BOS,GSW
14568,Shot Chart Detail,0042100406,639,1629057,Robert Williams III,1610612738,Boston Celtics,4,1,18,...,Center(C),Less Than 8 ft.,5,28,50,1,1,20220616,BOS,GSW
14569,Shot Chart Detail,0042100406,666,201939,Stephen Curry,1610612744,Golden State Warriors,4,0,38,...,Center(C),24+ ft.,30,65,296,1,0,20220616,BOS,GSW
14570,Shot Chart Detail,0042100406,668,203917,Nik Stauskas,1610612738,Boston Celtics,4,0,29,...,Right Side Center(RC),24+ ft.,29,103,281,1,0,20220616,BOS,GSW

In [79]:
shots_combined_df = pd.concat([reg_season_shot_df,post_season_shots_df],ignore_index=True)

### Now, getting the games from Playoffs and Regular Season from 2021-22 season

In [80]:
from nba_api.stats.endpoints import leaguegamefinder
from nba_api.stats.library.parameters import SeasonType

In [81]:
gamefinder_reg = leaguegamefinder.LeagueGameFinder(
    season_type_nullable='Regular Season',
    season_nullable='2021-22',
    league_id_nullable='00') # <- NBA league ID =00

gamefinder_pos = leaguegamefinder.LeagueGameFinder(
    season_type_nullable='Playoffs',
    season_nullable='2021-22',
    league_id_nullable='00') # <- NBA league ID = 00

### Merging both regular season and post-season games

In [82]:
df_games_combined = pd.concat([gamefinder_pos.get_data_frames()[0],gamefinder_reg.get_data_frames()[0]],ignore_index=True)

In [83]:
df_games_combined.head()

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
0,42021,1610612744,GSW,Golden State Warriors,0042100406,2022-06-16,GSW @ BOS,W,241,103,...,1.000,15,29,44,27,13,7,15,20,13.0
1,42021,1610612738,BOS,Boston Celtics,0042100406,2022-06-16,BOS vs. GSW,L,239,90,...,0.917,11,30,41,27,8,8,22,16,-13.0
2,42021,1610612738,BOS,Boston Celtics,0042100405,2022-06-13,BOS @ GSW,L,238,94,...,0.677,8,39,47,18,2,2,18,16,-10.0
3,42021,1610612744,GSW,Golden State Warriors,0042100405,2022-06-13,GSW vs. BOS,W,240,104,...,0.867,4,35,39,23,9,2,6,28,10.0
4,42021,1610612738,BOS,Boston Celtics,0042100404,2022-06-10,BOS vs. GSW,L,241,97,...,0.737,11,31,42,22,8,6,15,17,-10.0

### We can see that the dataframe is showing the same game twice, both for the winning and the losing team. Let's favor the winners and keep only the winning teams on a new dataframe

In [84]:
df_games_combined_w = df_games_combined.loc[df_games_combined['WL']=='W']

In [85]:
df_games_combined_w.head()

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
0,42021,1610612744,GSW,Golden State Warriors,0042100406,2022-06-16,GSW @ BOS,W,241,103,...,1.000,15,29,44,27,13,7,15,20,13.0
3,42021,1610612744,GSW,Golden State Warriors,0042100405,2022-06-13,GSW vs. BOS,W,240,104,...,0.867,4,35,39,23,9,2,6,28,10.0
5,42021,1610612744,GSW,Golden State Warriors,0042100404,2022-06-10,GSW @ BOS,W,241,107,...,0.800,16,39,55,20,10,5,16,21,10.0
7,42021,1610612738,BOS,Boston Celtics,0042100403,2022-06-08,BOS vs. GSW,W,240,116,...,0.708,15,32,47,28,7,7,12,17,16.0
8,42021,1610612744,GSW,Golden State Warriors,0042100402,2022-06-05,GSW vs. BOS,W,241,107,...,0.700,6,36,42,25,15,2,12,17,19.0

While the Regular Season GAME_ID's have a pattern of 00**2**.., the Playoff GAME_ID'S have a pattern of 00**4**...
To map which game is a Playoff game, let's add a column with a mapping lambda function on the 3rd digit of the ***df_games_combined_w['GAME_ID']*** column

In [121]:
## adding Playoff/Regular Season column
df_games_combined_w = df_games_combined_w.assign(Playoff=lambda row: df_games_combined_w['GAME_ID'].map(lambda x: x[2]=='4'))

### Uploading the dataframes to our localhost MySQL server

In [122]:
## uploading players table to database
# using pd.to_sql to do it
# https://stackoverflow.com/questions/16476413/how-to-insert-pandas-dataframe-via-mysqldb-into-database

from pandas.io import sql
from sqlalchemy import create_engine

In [123]:
## connecting to mysql database
alchemy_con = create_engine('mysql+pymysql://root:Lolwtfbbq!13@localhost/nbadata') ##SQLAlchemy connector

#### Creating NBA players table

In [124]:
#creating nba_players table
df_nba_players.to_sql(con=alchemy_con,name = 'nba_players',if_exists ='replace',index = False)

4831

#### Creating nba_players_career table

In [125]:

final_career_df.to_sql(con=alchemy_con,name = 'nba_reg_season_career',if_exists = 'replace',index = False)

3380

#### Creating 2021 NBA season games

In [126]:
df_games_combined_w.to_sql('2021_games',con=alchemy_con,if_exists='replace')

1317

#### Creating 2021 shoot details chart table

In [127]:
shots_combined_df.to_sql('2021_shoots_detail',con=alchemy_con,if_exists='replace')

231293

Now, let's check if we correctly updated the tables in MySQL by querying it back in this notebook.

In [128]:
# checking the query in the nbadata Database
df_player = pd.read_sql('SELECT * FROM nba_players', alchemy_con)
df_player.head()

      id            full_name first_name     last_name  is_active
0  76001       Alaa Abdelnaby       Alaa     Abdelnaby          0
1  76002      Zaid Abdul-Aziz       Zaid    Abdul-Aziz          0
2  76003  Kareem Abdul-Jabbar     Kareem  Abdul-Jabbar          0
3     51   Mahmoud Abdul-Rauf    Mahmoud    Abdul-Rauf          0
4   1505    Tariq Abdul-Wahad      Tariq   Abdul-Wahad          0

In [129]:
df_final_career = pd.read_sql('SELECT * FROM nba_reg_season_career',alchemy_con)
df_final_career.head()

,PLAYER_ID,SEASON_ID,LEAGUE_ID,TEAM_ID,TEAM_ABBREVIATION,PLAYER_AGE,GP,GS,MIN,FGM,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS
0,1630173,2020-21,00,1610612748,MIA,21.0,61,4,737.0,124,...,0.509,73,135,208,29,20,28,43,91,304
1,1630173,2021-22,00,1610612761,TOR,22.0,73,28,1725.0,265,...,0.595,146,327,473,82,37,41,84,151,664
2,1630173,2022-23,00,1610612761,TOR,23.0,12,0,245.0,36,...,0.848,24,60,84,16,2,7,15,19,105
3,203500,2013-14,00,1610612760,OKC,20.0,81,20,1197.0,93,...,0.581,142,190,332,43,40,57,71,203,265
4,203500,2014-15,00,1610612760,OKC,21.0,70,67,1771.0,217,...,0.502,199,324,523,66,38,86,99,222,537

Great! From here, you can use your MySQL tables to query, join these tables and also connect it to a data visualization tool such as Tableau or Power BI.