# NBA API data manipulation

The goal of this project is to gather data from the **nba_api** package, in which several data regarding games and players stats are fetched from NBA.com. 

Doing so, we will get data regarding the shooting patterns of players during the ***2021-22 season***, both for the Regular Season and the Playoffs (Pre-Season, GLeague and All-Star games are not included) and to update the data to a local MySQL database using SQLAlchemy

![Alt Text](https://media.tenor.com/wWn-gRfZ4PEAAAAd/steph-curry-stephen-curry.gif)

### Importing basic libraries

In [10]:
import pandas as pd
import numpy as np
import time
import datetime
from time import sleep

To use the nba_api package, we must import the correct endpoints for each type of tables we want to get data from. In this notebook case, we will be using mainly four:

-**playercareerstats**

-**shotchartdetail**

-**leaguegamefinder**

-**players**

Check the nba_api repository for more repositories: https://github.com/swar/nba_api

In [11]:
# testing the playercareerstats package from the
from nba_api.stats.endpoints import playercareerstats
career_test = playercareerstats.PlayerCareerStats(player_id='203076') ## Anthony Davis player_id. Great to see him puting 50+ points again for the Lakers!
career_test.get_available_data()
## the first available table, SeasonTotalsRegularSeason is the one we're looking for

dict_keys(['SeasonTotalsRegularSeason', 'CareerTotalsRegularSeason', 'SeasonTotalsPostSeason', 'CareerTotalsPostSeason', 'SeasonTotalsAllStarSeason', 'CareerTotalsAllStarSeason', 'SeasonTotalsCollegeSeason', 'CareerTotalsCollegeSeason', 'SeasonTotalsShowcaseSeason', 'CareerTotalsShowcaseSeason', 'SeasonRankingsRegularSeason', 'SeasonRankingsPostSeason'])

We can see that the first available_data(), **SeasonTotalsRegularSeason**, will give us the player averages per regular season. To get this Dataframe, call it with [0] after get_data_frames() method.

In [12]:
career_test_df = pd.DataFrame(career_test.get_data_frames()[0]) ## getting the first dataframe available from the PLayerCareerStats

In [13]:
career_test_df

,PLAYER_ID,SEASON_ID,LEAGUE_ID,TEAM_ID,TEAM_ABBREVIATION,PLAYER_AGE,GP,GS,MIN,FGM,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS
0,203076,2012-13,00,1610612740,NOH,20.0,64,60,1846.0,349,...,0.751,165,357,522,63,75,112,89,158,867
1,203076,2013-14,00,1610612740,NOP,21.0,67,66,2358.0,522,...,0.791,207,466,673,105,89,189,109,200,1394
2,203076,2014-15,00,1610612740,NOP,22.0,68,68,2455.0,642,...,0.805,173,523,696,149,100,200,95,141,1656
3,203076,2015-16,00,1610612740,NOP,23.0,61,61,2164.0,560,...,0.758,130,497,627,116,78,125,121,148,1481
4,203076,2016-17,00,1610612740,NOP,24.0,75,75,2708.0,770,...,0.802,172,712,884,157,94,167,181,168,2099
5,203076,2017-18,00,1610612740,NOP,25.0,75,75,2727.0,780,...,0.828,187,644,831,174,115,193,162,159,2110
6,203076,2018-19,00,1610612740,NOP,26.0,56,56,1850.0,530,...,0.794,174,498,672,218,88,135,112,132,1452
7,203076,2019-20,00,1610612747,LAL,27.0,62,62,2131.0,551,...,0.846,142,435,577,200,91,143,154,156,1618
8,203076,2020-21,00,1610612747,LAL,28.0,36,36,1162.0,301,...,0.738,62,224,286,110,45,59,74,60,786
9,203076,2021-22,00,1610612747,LAL,29.0,40,40,1404.0,370,...,0.713,106,288,394,122,49,90,82,97,927
10,203076,2022-23,00,1610612747,LAL,29.0,20,20,692.0,217,...,0.832,68,188,256,52,27,48,40,57,572

In [14]:
from nba_api.stats.static import players

In [15]:
nba_players = players.get_players()
nba_players_id = [i['id'] for i in nba_players if i['is_active']==True] ##getting active players only

In [16]:
df_nba_players = pd.DataFrame(nba_players)

Passing headers to prevent any failure when retrieving the data.

In [17]:
headers  = {
    'Connection': 'keep-alive',
    'Accept': 'application/json, text/plain, */*',
    'x-nba-stats-token': 'true',
    'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_14_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/79.0.3945.130 Safari/537.36',
    'x-nba-stats-origin': 'stats',
    'Sec-Fetch-Site': 'same-origin',
    'Sec-Fetch-Mode': 'cors',
    'Referer': 'https://stats.nba.com/',
    'Accept-Encoding': 'gzip, deflate, br',
    'Accept-Language': 'en-US,en;q=0.9',
}

In [18]:
## creating function to get player career stats

def player_career(p_id):
    player_career_stats = playercareerstats.PlayerCareerStats(player_id=p_id,timeout=100,headers = headers)
    df_stats = player_career_stats.get_data_frames()[0]
    return df_stats

##### Using the formula above, we can loop through all active players idsand get the career stats per season for each player, to then later concatenate each dataframe into a single one using the .append() method on a empty list

In [19]:
career_list = []
df_test_2 = pd.DataFrame()
for i in nba_players_id:
    # print(i) #print to check the for_loop
    career = player_career(i)
    time.sleep(.600) #timeout for not throwing HTTP request error from the NBA server
    career_list.append(career) #appending df_stats back to career_list

final_career_df = pd.concat(career_list,ignore_index=True)

In [ ]:
final_career_df

,PLAYER_ID,SEASON_ID,LEAGUE_ID,TEAM_ID,TEAM_ABBREVIATION,PLAYER_AGE,GP,GS,MIN,FGM,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS
0,1630173,2020-21,00,1610612748,MIA,21.0,61,4,737.0,124,...,0.509,73,135,208,29,20,28,43,91,304
1,1630173,2021-22,00,1610612761,TOR,22.0,73,28,1725.0,265,...,0.595,146,327,473,82,37,41,84,151,664
2,1630173,2022-23,00,1610612761,TOR,23.0,12,0,245.0,36,...,0.848,24,60,84,16,2,7,15,19,105
3,203500,2013-14,00,1610612760,OKC,20.0,81,20,1197.0,93,...,0.581,142,190,332,43,40,57,71,203,265
4,203500,2014-15,00,1610612760,OKC,21.0,70,67,1771.0,217,...,0.502,199,324,523,66,38,86,99,222,537
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3375,1627826,2018-19,00,0,TOT,22.0,59,37,1039.0,212,...,0.802,115,247,362,63,14,51,70,137,525
3376,1627826,2019-20,00,1610612746,LAC,23.0,72,70,1326.0,236,...,0.747,197,346,543,82,16,66,61,168,596
3377,1627826,2020-21,00,1610612746,LAC,24.0,72,33,1609.0,257,...,0.789,189,330,519,90,24,62,81,187,650
3378,1627826,2021-22,00,1610612746,LAC,25.0,76,76,1852.0,310,...,0.727,217,427,644,120,36,77,114,203,785
3379,1627826,2022-23,00,1610612746,LAC,25.0,24,24,732.0,103,...,0.684,83,196,279,31,11,41,53,73,258

### Getting the shooting detail from each player for the 2021-22 season:

In [ ]:
#getting shooting detail from players   

from nba_api.stats.endpoints import shotchartdetail

In [ ]:
reg_season_shot = shotchartdetail.ShotChartDetail(
    player_id='0',
    team_id='0',
    season_nullable='2021-22',
    context_measure_simple='FGA',  #Field Goals Attempts(arremessos)
    season_type_all_star='Regular Season')
reg_season_shot_df = reg_season_shot.get_data_frames()[0]

In [ ]:
post_season_shots = shotchartdetail.ShotChartDetail(
    player_id='0',
    team_id='0',
    season_nullable='2021-22',
    context_measure_simple='FGA',  #Field Goals Attempts(arremessos)
    season_type_all_star='Playoffs')
post_season_shots_df = post_season_shots.get_data_frames()[0]

In [ ]:
post_season_shots_df

,GRID_TYPE,GAME_ID,GAME_EVENT_ID,PLAYER_ID,PLAYER_NAME,TEAM_ID,TEAM_NAME,PERIOD,MINUTES_REMAINING,SECONDS_REMAINING,...,SHOT_ZONE_AREA,SHOT_ZONE_RANGE,SHOT_DISTANCE,LOC_X,LOC_Y,SHOT_ATTEMPTED_FLAG,SHOT_MADE_FLAG,GAME_DATE,HTM,VTM
0,Shot Chart Detail,0042100101,7,1630168,Onyeka Okongwu,1610612737,Atlanta Hawks,1,11,31,...,Center(C),Less Than 8 ft.,1,18,1,1,0,20220417,MIA,ATL
1,Shot Chart Detail,0042100101,9,200768,Kyle Lowry,1610612748,Miami Heat,1,11,13,...,Right Side(R),24+ ft.,23,234,10,1,0,20220417,MIA,ATL
2,Shot Chart Detail,0042100101,11,1629027,Trae Young,1610612737,Atlanta Hawks,1,11,2,...,Right Side Center(RC),24+ ft.,25,154,197,1,0,20220417,MIA,ATL
3,Shot Chart Detail,0042100101,13,202710,Jimmy Butler,1610612748,Miami Heat,1,10,50,...,Right Side(R),16-24 ft.,19,192,51,1,0,20220417,MIA,ATL
4,Shot Chart Detail,0042100101,15,201568,Danilo Gallinari,1610612737,Atlanta Hawks,1,10,35,...,Center(C),Less Than 8 ft.,7,74,26,1,0,20220417,MIA,ATL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14566,Shot Chart Detail,0042100406,632,203935,Marcus Smart,1610612738,Boston Celtics,4,1,35,...,Center(C),Less Than 8 ft.,4,34,24,1,0,20220616,BOS,GSW
14567,Shot Chart Detail,0042100406,634,203935,Marcus Smart,1610612738,Boston Celtics,4,1,33,...,Left Side(L),8-16 ft.,10,-77,67,1,1,20220616,BOS,GSW
14568,Shot Chart Detail,0042100406,639,1629057,Robert Williams III,1610612738,Boston Celtics,4,1,18,...,Center(C),Less Than 8 ft.,5,28,50,1,1,20220616,BOS,GSW
14569,Shot Chart Detail,0042100406,666,201939,Stephen Curry,1610612744,Golden State Warriors,4,0,38,...,Center(C),24+ ft.,30,65,296,1,0,20220616,BOS,GSW
14570,Shot Chart Detail,0042100406,668,203917,Nik Stauskas,1610612738,Boston Celtics,4,0,29,...,Right Side Center(RC),24+ ft.,29,103,281,1,0,20220616,BOS,GSW

In [ ]:
shots_combined_df = pd.concat([reg_season_shot_df,post_season_shots_df],ignore_index=True)

### Now, getting the games from Playoffs and Regular Season from 2021-22 season

In [ ]:
from nba_api.stats.endpoints import leaguegamefinder
from nba_api.stats.library.parameters import SeasonType

In [ ]:
gamefinder_reg = leaguegamefinder.LeagueGameFinder(
    season_type_nullable='Regular Season',
    season_nullable='2021-22',
    league_id_nullable='00') # <- NBA league ID =00

gamefinder_pos = leaguegamefinder.LeagueGameFinder(
    season_type_nullable='Playoffs',
    season_nullable='2021-22',
    league_id_nullable='00') # <- NBA league ID = 00

### Merging both regular season and post-season games

In [ ]:
df_games_combined = pd.concat([gamefinder_pos.get_data_frames()[0],gamefinder_reg.get_data_frames()[0]],ignore_index=True)

In [ ]:
df_games_combined.head()

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
0,42021,1610612744,GSW,Golden State Warriors,0042100406,2022-06-16,GSW @ BOS,W,241,103,...,1.000,15,29,44,27,13,7,15,20,13.0
1,42021,1610612738,BOS,Boston Celtics,0042100406,2022-06-16,BOS vs. GSW,L,239,90,...,0.917,11,30,41,27,8,8,22,16,-13.0
2,42021,1610612738,BOS,Boston Celtics,0042100405,2022-06-13,BOS @ GSW,L,238,94,...,0.677,8,39,47,18,2,2,18,16,-10.0
3,42021,1610612744,GSW,Golden State Warriors,0042100405,2022-06-13,GSW vs. BOS,W,240,104,...,0.867,4,35,39,23,9,2,6,28,10.0
4,42021,1610612738,BOS,Boston Celtics,0042100404,2022-06-10,BOS vs. GSW,L,241,97,...,0.737,11,31,42,22,8,6,15,17,-10.0

### We can see that the dataframe is showing the same game twice, both for the winning and the losing team. Let's favor the winners and keep only the winning teams on a new dataframe

In [ ]:
df_games_combined_w = df_games_combined.loc[df_games_combined['WL']=='W']

In [ ]:
df_games_combined_w.head()

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
0,42021,1610612744,GSW,Golden State Warriors,0042100406,2022-06-16,GSW @ BOS,W,241,103,...,1.000,15,29,44,27,13,7,15,20,13.0
3,42021,1610612744,GSW,Golden State Warriors,0042100405,2022-06-13,GSW vs. BOS,W,240,104,...,0.867,4,35,39,23,9,2,6,28,10.0
5,42021,1610612744,GSW,Golden State Warriors,0042100404,2022-06-10,GSW @ BOS,W,241,107,...,0.800,16,39,55,20,10,5,16,21,10.0
7,42021,1610612738,BOS,Boston Celtics,0042100403,2022-06-08,BOS vs. GSW,W,240,116,...,0.708,15,32,47,28,7,7,12,17,16.0
8,42021,1610612744,GSW,Golden State Warriors,0042100402,2022-06-05,GSW vs. BOS,W,241,107,...,0.700,6,36,42,25,15,2,12,17,19.0

While the Regular Season GAME_ID's have a pattern of 00**2**.., the Playoff GAME_ID'S have a pattern of 00**4**...
To map which game is a Playoff game, let's add a column with a mapping lambda function on the 3rd digit of the ***df_games_combined_w['GAME_ID']*** column

In [ ]:
## adding Playoff/Regular Season column
df_games_combined_w = df_games_combined_w.assign(Playoff=lambda row: df_games_combined_w['GAME_ID'].map(lambda x: x[2]=='4'))

### Uploading the dataframes to our localhost MySQL server

Since most of our data is already in a DataFrame format, let's use this to our favor and use the pandas built in *to_sql()* method. To do so, we must create an engine using the SQLALchemy package. 

Check out the documentation in here:
https://docs.sqlalchemy.org/en/14/

In [ ]:
## uploading players table to database
# using pd.to_sql to do it
# https://stackoverflow.com/questions/16476413/how-to-insert-pandas-dataframe-via-mysqldb-into-database

from sqlalchemy import create_engine

In [ ]:
## connecting to mysql database
alchemy_con = create_engine('mysql+pymysql://root:Lolwtfbbq!13@localhost/nbadata') ##SQLAlchemy connector

#### Creating NBA players table

In [ ]:
#creating nba_players table
df_nba_players.to_sql(con=alchemy_con,name = 'nba_players',if_exists ='replace',index = False)

4831

#### Creating nba_players_career table

In [ ]:

final_career_df.to_sql(con=alchemy_con,name = 'nba_reg_season_career',if_exists = 'replace',index = False)

3380

#### Creating 2021 NBA season games

In [ ]:
df_games_combined_w.to_sql('2021_games',con=alchemy_con,if_exists='replace')

1317

#### Creating 2021 shoot details chart table

In [ ]:
shots_combined_df.to_sql('2021_shoots_detail',con=alchemy_con,if_exists='replace')

231293

Now, let's check if we correctly updated the tables in MySQL by querying it back in this notebook.

In [ ]:
# checking the query in the nbadata Database
df_player = pd.read_sql('SELECT * FROM nba_players', alchemy_con)
df_player.head()

      id            full_name first_name     last_name  is_active
0  76001       Alaa Abdelnaby       Alaa     Abdelnaby          0
1  76002      Zaid Abdul-Aziz       Zaid    Abdul-Aziz          0
2  76003  Kareem Abdul-Jabbar     Kareem  Abdul-Jabbar          0
3     51   Mahmoud Abdul-Rauf    Mahmoud    Abdul-Rauf          0
4   1505    Tariq Abdul-Wahad      Tariq   Abdul-Wahad          0

In [ ]:
df_final_career = pd.read_sql('SELECT * FROM nba_reg_season_career',alchemy_con)
df_final_career.head()

,PLAYER_ID,SEASON_ID,LEAGUE_ID,TEAM_ID,TEAM_ABBREVIATION,PLAYER_AGE,GP,GS,MIN,FGM,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS
0,1630173,2020-21,00,1610612748,MIA,21.0,61,4,737.0,124,...,0.509,73,135,208,29,20,28,43,91,304
1,1630173,2021-22,00,1610612761,TOR,22.0,73,28,1725.0,265,...,0.595,146,327,473,82,37,41,84,151,664
2,1630173,2022-23,00,1610612761,TOR,23.0,12,0,245.0,36,...,0.848,24,60,84,16,2,7,15,19,105
3,203500,2013-14,00,1610612760,OKC,20.0,81,20,1197.0,93,...,0.581,142,190,332,43,40,57,71,203,265
4,203500,2014-15,00,1610612760,OKC,21.0,70,67,1771.0,217,...,0.502,199,324,523,66,38,86,99,222,537

Great! From here, you can use your MySQL tables to query, join these tables and also connect it to a data visualization tool such as Tableau or Power BI.